<div class="author">
  <h1 class="author__heading">Hi I'am Thongek Wpm</h1>
  <p class="author__body">
    I'm a full-stack developer specializing in MERN stack applications. I love
    creating dynamic and responsive web applications that provide great user
    experiences.
    <br />Now working at CYN COMMUNICATION CO.,LTD. in IT support. | Learning
    full-stack, I am currently practicing my personal project. My language in
    not good
  </p>
</div>
<img
  src="/images/author.gif"
  alt="Author Image"
  class="author__img"
  width="981"
  height="528"
/>
<section class="articles">
  <h2 class="articles__heading">Latest Articles</h2>
  <ul class="articles_ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list_date">Date</span>
      </a>
    </li>
  </ul>
  <a href="#" class="pagination">&lt; View older posts</a>
</section>
