@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --black: #1c1c1c;
  --gray: #7e7e7e7e;
  --gray-linght: #f4f4f4f4;
  --red: #b30000;
  --front-size-base: 1rem;
  --front-size-md: clamp(1.25rem, 0.61vw+1.1rem, 1.58rem);
  --front-size-lg: clamp(1.56rem, 1vw+1.31rem, 2.11rem);
  --front-size-xl: clamp(2.44rem, 2.38vw+1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: var(--front-size-base);
  background-color: #faf5ee;
  background-image: url("/images/img-noise-361x370.png");
  margin: 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
section,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: var(--front-size-base);
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.btn-delete {
  background-color: var(--red);
  padding: 10px 16px;
}
img {
  max-width: 100%;
  height: auto;
}

/*layout*/
.container {
  padding: 0 10px;
  max-width: 982px;
  margin: 0 auto;
}

.main {
  padding: 20px 0;
}

/* hero image*/
.hero-image {
  max-height: 528px;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--border-radius);
}
